/*container de l'application (tout le body)*/

#app {
    background-color: #ECEFF1; /*couleur de fond de l'application*/
}


/*container du header */

div.card_form {
    margin: 0 !important; /*supprime l'espace généré automatiquement*/
}

/*container d'une carte produit ou collection*/
div.layout_cards_products div.card {
    margin: 3% 3%; /*margin top/bottom right/left espace entre les cartes*/
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); /*permet de rendre l'effet d'une div surélevée grâce à des ombres*/
    border-radius:20px;
}

/*carte ou sont affichés les infos détaillés du produits*/
div.infos_cards{
    height: 350px !important; /*300px img + 100px titre*/
}

body div#app::-webkit-scrollbar-track
{
    border-radius:20px;
    background-color:transparent;
}

body div#app::-webkit-scrollbar
{
    width: 12px; /*taille scrollbar*/
    background-color:transparent;
}

body div#app::-webkit-scrollbar-thumb
{
    border-radius:20px;
    background-color: #607D8B;
}

div.infos_cards div.container_for_scrollbar{
    width:100%;
    height:95% !important; /*300px img + 100px titre*/
    overflow-y: auto; /*si il y a besoin de scroll (div pas assez grande), la barre de scroll apparait*/
    padding: 1em;
}
/*container pour la scrollbar permet qu'elle soit dans la div contenant la carte et non pas à côté,
et donc il y a un rectangle qui la contient avec des bords carrés et pas arrondis, ce qui casse le design*/

/*SCROLLBAR PERSO NE MARCHE QUE SUR CHROME*/

div.infos_cards div.container_for_scrollbar::-webkit-scrollbar-track
{
    border-radius:20px;
    background-color:transparent;
}

div.infos_cards div.container_for_scrollbar::-webkit-scrollbar
{
    width: 12px; /*taille scrollbar*/
    background-color:transparent;
}

div.infos_cards div.container_for_scrollbar::-webkit-scrollbar-thumb
{
    border-radius:20px;
    background-color: #607D8B;
}

/*titre dans cette div*/

div.infos_cards h3 {
    font-size: 24px !important; /*taille de la police obliger de mettre !important pour être prioritaire par rapport a vuetify*/
}

/*titre du produit quand on clique sur le bouton info*/

div.infos_cards h3 span {
    color: #607D8B; /*span dans un h3 de cette carte, le titre y est */
}


/*container du contenue en dessous du menu*/

@media screen and (max-width:599px) {
    /*container du contenue en dessous le menu*/
    div.container_body {
        margin-top: 60px;
        /*espace pour éviter une superposition du menu et des produits*/
    }
}


/*container en bas de l'img*/

div.card__title {
    /*contenue aligne centré horizontalement et verticalement */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /*taille dd la div contenant le titre du produit*/
    color: white !important; 
    background-color: #607D8B;
}


/*container boutons*/

div.container_icones {
    z-index:2; /*etre sur de pouvoir cliquer sur le bouton qu'il ne soit pas en dessous de l'image*/
    padding-left:70%; /*le contenue est parfaite au milieu on le decale pour qu'il soit à droite*/
    display: flex; 
    flex-direction: column; /*contenue en colone */
    align-items: center; /* aligne le contenue au centre horizontalement et verticalement */
    justify-content: center;
    position: absolute;
    width: 100%; /* le container des boutons prend toute la largeur de l'image*/
    height: 100%; /* le container des boutons prend toute la hauteur de l'image*/
    /*les boutons sont placés au dessus de v-card media en
    les mettant en absolute la div ne prend pas d'espace'*/
}
/*container du bouton retour vers le haut*/
div.btn_top_page{
    margin:25px 0px; /* top/bottom right/left */
    display: flex;
    justify-content: flex-end; /*affichage bouton en fin de ligne*/
    background-color: none !important;
    box-shadow: none !important;
}
/*modal lors de l'envoie du message*/
div.dialog{
    z-index:4;
}
/*texte qui indique que le message à été envoyé avec succès*/
div.dialog span{
    color: #8BC34A; /*couleur de ce message*/
    font-size: 20px; /*taille de la police en px*/
}
/*bouton retout vers le haut*/
button.btn_to_top{
    z-index:3!important; /* place le bouton bien au dessus des éléments (!important:priorité par rapport à vuetify)*/
    /*z-index ordre de priorité croissant:
    z-index:2=container des boutons (+,favori,info)
    z-index:3=button.btn_to_top bouton de retour vers le haut
    z-index:4=div.dialog modal qui s'affiche lors du succès d'envoie des données via le formulaire
    */
}